ipykernel
setuptools
jupyterlab
ipywidgets
torch
torchvision
matplotlib
scikit-learn
diffusers 
transformers 
accelerate 
scipy 
safetensors 
protobuf 
huggingface_hub
python-dotenv
sentencepiece
requests
numpy
pandas
matplotlib
gensim
tqdm
openai
gradio
langchain
tiktoken
faiss-cpu
langchain-openai
langchain_experimental
langchain_chroma
langchain[docarray]
datasets
google-genai
anthropic
unstructured
chromadb
plotly
jupyter-dash
beautifulsoup4
pydub
modal
ollama
accelerate
bitsandbytes
selenium