accelerate
anthropic
beautifulsoup4
bitsandbytes
chromadb
datasets
ddgs
diffusers
dspy
elevenlabs
faiss-cpu
fastembed
gensim
google-genai
google-generativeai
gradio
huggingface_hub
ipykernel
ipywidgets
jupyter-dash
jupyterlab
langchain
langchain-core
langchain-community
langchain-chroma
langchain-experimental
langchain-ollama
langchain-openai
langchain-tavily
langchain-text-splitters
langchain[docarray]
langgraph
lmstudio
lxml
fastmcp
httpx
mcp
matplotlib
modal
numpy
numexpr
openai
ollama
pandas
pdfplumber
pikepdf
plotly
protobuf
python-dotenv
pydub
requests
safetensors
scikit-learn
selenium
sentence-transformers
sentencepiece
setuptools
scipy
tavily-python
tiktoken
torch
torchvision
tqdm
unstructured
unstructured[all-docs]